<div id="page-wrapper">
	<h3>products</h3>
	<table class='table'>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>price</th>
			<th>image</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		<% _.each(product, function(product) { %>
		<tr data-id="<%= product.id %>" data-model="product">
			<td> <%= product.id %> </td>
			<td> <%= product.name %> </td>
			<td> <%= product.price %> </td>
			<td> <%= product.image %> </td>
			<td><a href="/product/show/<%= product.id %>" class="btn btn-sm btn-primary">Show</a></td>
			<td><a href="/product/edit/<%= product.id %>" class="btn btn-sm btn-warning">Edit</a></td>

			<td><form action="/product/destroy/<%= product.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"></input>
				<input type="submit" class="btn btn-sm btn-danger" value="Delete"></input>
				<input type="hidden" name="_csrf" value="<%= _csrf %>"></input>
			</form></td>
			
		</tr>
		<% } ) %>
	</table>
	<a href="/product/new" class="btn btn-sm btn-warning">Create</a>
</div>